<div class="about">
    <h3 class="about-title">About Kenes</h3>
    <p class="about-content">
        Fifty years of knowledge, experience and market expertise have led Kenes Group to the forefront of global conference management and to becoming one of the world’s leading Professional Conference Organisers (PCOs). Founded in Tel Aviv in 1965 and headquartered in Geneva, Kenes Group has hosted over 3,800 conferences in more than 100 cities around the globe, providing services to over 220,000 participants per year
    </p>
</div>