<div class="home">
    <div class="home-image">
        <img ng-src="../content/img/logo_full.png" />
    </div>
    <div class="home-content">
        We believe that every individual congress experience counts. That’s why we proactively manage your conference from start to finish. With all the logistical, financial, and creative focus you need, we can cost-effectively manage and coordinate your conference with outstanding service and passion. Trust your congress with the experts.
    </div>
</div>